@import "/public/fonts/evolventa/evolventa.css";
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Prosto One";
  src: local("Prosto One"), url("/public/fonts/ProstoOne/ProstoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-evolventa: "Evolventa", "sans-serif";
  --font-prosto: "Prosto One", "cursive";
}

@layer components {
  * {
    font-family: var(--font-evolventa);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-prosto);
  }
}
